@charset "utf-8";

/*li8ghtbox start */

/* lightbox end */

a:hover {
    background-color: rgba(0, 0, 0, 0.08);
    transition: 0.5s;
    color: black;
}

a{
  text-align: center;
  transition: 0.5s;
  border-radius: 50px;
}

.container
{
  overflow: hidden;
}
.hide
{
  display: none;
}

#Footer
{
  background-color: #000000;
  align-content: center;
  overflow: hidden;
  color: white;
}

.AboutMeImage
{
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
}

.AboutSection
{
background-color: rgba(255, 255, 255, 0.8);
color: black;
margin-top: 25px;
margin-bottom: 25px;
height: 100%;
border-radius: 15px;
overflow: hidden;
}

.AboutHeader
{
  font-size: 24px;
  font-family: Quicksand;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
}

.AboutMe
{
  background-image: url("../images/AboutBackground.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.ContactMe
{
  background-color: white;
}

.Home {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 1%, #8d8d8d 64%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 1%,#8d8d8d 64%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 1%,#8d8d8d 64%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
margin-top: 35px;
margin-bottom: 45px;
overflow: hidden;
}

.prevwork
{
  background-color: white;
  text-align: center;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

.prevworkimg
{
  border-radius: 8px;
  margin-top: 20px;
  overflow: hidden;
}

.previousheader
{
  font-size: 25px;
  font-family: Quicksand;
  margin-top: 8px;
  margin-bottom: 14px;
}

.PreviousWorkDesc
{
  font-family: Fira-sans;
  font-size: 18px;
  margin-top: 15px;
}

.previousmainheader
{
  font-size: 38px;
  font-family: Quicksand;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#Previousworks
{
  background: #baebcd; /* Old browsers */
  background: -moz-linear-gradient(top, #baebcd 0%, #54b067 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #baebcd 0%,#54b067 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #baebcd 0%,#54b067 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#baebcd', endColorstr='#54b067',GradientType=0 ); /* IE6-9 */
overflow: hidden;
}

.contact
{
background: #93eb97; /* Old browsers */
background: -moz-linear-gradient(top, #93eb97 0%, #38833a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #93eb97 0%,#38833a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #93eb97 0%,#38833a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93eb97', endColorstr='#38833a',GradientType=0 ); /* IE6-9 */
overflow: hidden;
}

.ContactMe
{
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.contactinput
{
  border-radius: 15px;
  margin-top: 15px;
  color: grey;
  text-align: center;
  margin-bottom:10px;
}

.NavOptions
{
  color: #679b72;
  list-style-type: none;
  font-family: Quicksand;
  font-size: 25px;
  margin-top: 35px;
  margin-bottom: 20px;
}

.seperator
{
  background-color: #a4a4a4;
  padding-bottom: 10px;
}
.seperator2
{
  background-color: #a4a4a4;
  padding-bottom: 4px;
}

.FooterTexts
{
  color: White;
  font-family: Fira-Sans;
  Font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.promoBox
{
  margin-top: 28px;
  box-shadow: 0 8px 20px 0 rgba(255, 255, 255, 0.8), 0 8px 20px 0 rgba(255, 255, 255, 0.8);
}

#logoimage
{
  padding: 0px;
  margin-top: 20px;
  box-shadow: 0 8px 20px 0 rgba(255, 255, 255, 0.8), 0 8px 20px 0 rgba(255, 255, 255, 0.8);
}

.PromoHeaders
{
  Font-family: Quicksand;
  font-size: 21px;
  text-align: center;
  margin-top: 8px;
}

.contactheader
{
  font-family: Quicksand;
  font-size: 28px;
  text-decoration: underline;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.paragraph
{
  font-size: 23px;
  font-family: Fira-sans;
  text-align: center;
}

.Aboutparagraph{
  font-size: 20px;
  font-family: Fira-sans;
  text-align: center;
  margin-top: 20px;
}

.SocialLinks
{
  margin-top: 30px;
  margin-bottom: 30px;
}

.contactinput{
  background-color: grey;
  color: white;
}

button{
  text-align: center;
  font-size: 20px;
}

@media screen and (Min-width: 1024px) {
    .SocialLinks {
      width: 7%;
    }
    .inputs {
      margin-top: -28%;
    }
    .FooterTexts {
      font-size: 25px;
      font-family: Fira-sans;
      margin-top: 35px;
    }
    .contactinput{
      margin-top: 25px;
      margin-bottom: 20px;
    }
    .prevwork {
          height: 400px;
    }
}

@media screen and (Max-width: 1023px) {
    .PromoHeaders {
      font-size: 30px;
    }
    .NavOptions
    {
      color: #ffffff;
      list-style-type: none;
      font-family: Quicksand;
      font-size: 25px;
      margin-top: 35px;
      margin-bottom: 20px;
    }

    a {
        background-color: rgba(255, 255, 255, 0.1);
        transition: 0.5s;
        color: white;
    }

    a:hover {
        background-color: rgba(255, 255, 255, 0.5);
        transition: 0.5s;
        color: white;
    }

    #NavBar
    {
      background-color: black;
      color: white;
    }
    .SocialLinks {
      width: 13%;
    }
}
